<?xml version="1.0"?>
<launch>
  <arg name="usart_port_name" default="/dev/wheeltec_controller" />
  <arg name="serial_baud_rate" default="115200" />
  <arg name="odom_frame_id" default="odom_combined" />
  <arg name="robot_frame_id" default="base_footprint" />
  <arg name="gyro_frame_id" default="gyro_link" />
  <arg name="start_swarm_ros_bridge" default="true" />
  <arg name="bridge_config_file" default="$(find wheeltec_swarm_ros_bridge)/config/ros_topics.yaml" />

  <include file="$(find turn_on_wheeltec_robot)/launch/wheeltec_robot.launch">
    <arg name="usart_port_name" value="$(arg usart_port_name)" />
    <arg name="serial_baud_rate" value="$(arg serial_baud_rate)" />
    <arg name="odom_frame_id" value="$(arg odom_frame_id)" />
    <arg name="robot_frame_id" value="$(arg robot_frame_id)" />
    <arg name="gyro_frame_id" value="$(arg gyro_frame_id)" />
  </include>

  <include if="$(arg start_swarm_ros_bridge)"
           file="$(find wheeltec_swarm_ros_bridge)/launch/wheeltec_swarm_ros_bridge.launch">
    <arg name="config_file" value="$(arg bridge_config_file)" />
  </include>
</launch>
